footer 
    width 100%
    height 310px
    background-color #666666
    position relative
    bottom 0 
    padding 30px 0
    +below($tablet)
        height 245px
        padding 20px 0
    +mobile()
        height auto
    .footer
        width 1300px
        margin 0 auto
        display flex
        flex-direction row
        align-items flex-start
        justify-content space-between
        +below($tablet)
            width 90%
        +mobile()
            flex-direction column
            align-items center
            justify-content center
        .parte-um, .parte-dois
            width 18%
            display flex
            flex-direction column
            +mobile()
                width 100%
                align-items center
            .link-nav, .sublink
                rubik(16)
                color #FFF
                margin 0 0 14px 0
                transition .2s ease
                +below($tablet)
                    font-size 12px
                +mobile()
                    margin 0 0 10px 0
                &:hover
                &.active
                    color $texto
                    font-weight 600
            .linha, .grupo-produtos
                padding-left 10px
                rubik(16)
                color #FFF
                margin 0 0 10px 0
                transition .2s ease
                +below($tablet)
                    font-size 12px
            .sublink
                padding-left 25px
        .parte-tres
            width 20%
            display flex
            flex-direction column
            +mobile()
                width 100%
                align-items center
            .logo-home
                width 80%
                +mobile()
                    width 60%
                    margin-top 15px
                .img-logo-home
                    width 100%
                    height auto
                    transition transform 0.2s
                    &:hover
                        transform scale(1.1)
            .link-telefone
                rubik(20, medium)
                color #FFF
                margin 20px 0
                transition .2s ease
                +below($tablet)
                    font-size 14px
                    margin 15px 0
                &:hover
                    color $texto
                    font-weight 600
            .endereco
                rubik(14, thin)
                color #FFF
                padding-right 30px
                line-height 1.4
                +below($tablet)
                    font-size 12px
                    padding-right 0
                +mobile()
                    text-align center
                    padding 0 30px
            .redes-sociais
                margin-top 20px
                display block
                +below($tablet)
                    margin-top 15px
                +mobile()
                    margin 15px 0
                .facebook, .linkedin, .instagram, .youtube
                    margin-right 5px
                    > img
                        width auto
                        height 12px
                        transition transform 0.3s
                    &:hover
                        img 
                            transform rotate(360deg) scale(1.5)
                .instagram, .youtube
                    > img
                        margin-bottom -1px
        .parte-quatro
            width 20%
            display flex
            flex-direction column
            +mobile()
                width 100%
                align-items flex-start
            .titulo
                rubik(16)
                color #FFF
                margin 0 0 10px 0
                +below($tablet)
                    font-size 12px
            form
                display flex
                flex-direction column
                width 100%
                input[type=text]
                input[type=email]
                textarea
                    margin 1.5px 0
                    height 25px
                    padding 0 10px
                    border none
                    outline none
                    rubik(14, thin)
                    color #FFF
                    background-color #858585
                    +below($tablet)
                        height 20px
                        font-size 12px
                    +placeholder()
                        color #FFF
                        background-color #858585
                    &:hover
                    &:focus
                        font-weight 600
                textarea
                    height 90px
                    padding 5px 10px
                    resize none
                    +below($tablet)
                        height 50px
                .btn-enviar
                    width 100%
                    display flex
                    align-items center
                    justify-content flex-end
                    margin-top 10px
                    background-color transparent
                    border none
                    outline none
                    rubik(14, thin)
                    color #FFF
                    cursor pointer
                    transition .2s ease
                    +below($tablet)
                        font-size 12px
                    .img-seta
                        width auto
                        height 12px
                        margin-left 10px
                        +below($tablet)
                            width 12px
                    &:hover
                    &:focus
                        font-weight 500
            clearfix()
            .flash
                position relative
                display flex
                align-items center
                justify-content center
                margin 5px 0 0 0
                width 100%
                height 30px
                rubik(14, thin)
                padding 5px 10px
                border-radius 0
                bottom 20px
                +below($tablet)
                    font-size 12px
                > p
                    margin 0
                &.flash-erro
                    border 2px solid $vermelho
                    background $vermelho
                    color #fff
                &.flash-sucesso
                    border 2px solid $verde
                    background $verde
                    color #fff
        .parte-cinco
            width 18%
            display flex
            flex-direction column
            margin-left 2%
            +mobile()
                width 100%
                align-items center
                margin-top 15px
            .link-nav
                rubik(16)
                color #FFF
                margin 0 0 14px 0
                transition .2s ease
                +below($tablet)
                    font-size 12px
                +mobile()
                    margin 0 0 10px 0
                &:hover
                &.active
                    color $texto
                    font-weight 600
            .direitos-criacao
                margin-top 80px
                +below($tablet)
                    margin-top 35px
                +mobile()
                    margin-top 15px
                .empresa, .direitos, .criacao, .link-trupe
                    rubik(11, thin)
                    color #FFF
                    margin 0
                    +below($tablet)
                        font-size 10px
                    +mobile()
                        text-align center
                .empresa
                    text-transform uppercase
                .direitos
                    margin-bottom 20px
                    +mobile()
                        margin-bottom 10px
                .link-trupe
                    transition .2s ease
                    display block
                    margin-bottom 5px
                    &:hover
                        color $texto
                        font-weight 500
                        text-decoration underline