header 
    width 100%
    height 140px
    top 0
    left 0
    z-index 999
    position relative
    &.home
        background-color $vinho
        height 150px
    .header-topo, .header-topo-home
        width 100%
        height 30px
        background-color $vinho
        .centralizado
            width 1300px
            height 100%
            margin 0 auto
            display flex
            flex-direction row
            align-items center
            justify-content flex-end
            +below($tablet)
                width 90%
            .link-telefone, .link-area-cliente
                rubik(12, thin)
                color #FFF
                margin 0
                transition .2s ease
                +mobile()
                    font-size 10px
                &:hover
                    font-weight 500
            .link-area-cliente
                width 190px
                text-align center
                +mobile()
                    width 150px
            .redes-sociais
                display block
                .facebook, .linkedin, .instagram, .youtube
                    margin-right 5px
                    > img
                        width auto
                        height 12px
                        transition transform 0.3s
                    &:hover
                        img 
                            transform rotate(360deg) scale(1.5)
                .instagram, .youtube
                    > img
                        margin-bottom -1px
    .header-topo-home
        background-color #FFF
        .link-telefone, .link-area-cliente
            color $vinho !important
            font-weight 400 !important
            &:hover
                font-weight 600 !important
    .header-home, .header-paginas
        width 1300px
        height 50px
        margin 35px auto 0 auto
        display flex
        flex-direction row
        align-items center
        justify-content space-between
        +below($tablet)
            width 90%
        .logo-home
            margin-top 5px
            +mobile()
                width 60%
            .img-logo-home
                width 100%
                height auto
                transition transform 0.2s
                &:hover
                    transform scale(1.1)
        nav
            height 100%
            display flex
            +below($tablet)
                position absolute
                display none
                background-color $vinho
                width 100%
                left 0
                height auto
                top 150px
                padding 0
                z-index 99
            div.itens-menu
                display flex
                flex-direction row
                align-items center
                +below($tablet)
                    flex-direction column
                    align-items flex-end
                    padding 15px 8%
                .link-nav, .link-busca
                    height 100%
                    width auto
                    padding 0 18px
                    display flex
                    align-items center
                    rubik(16)
                    color #FFF
                    transition .2s ease
                    +below($tablet)
                        padding 10px
                        font-weight 500
                        text-shadow #000 1px -1px 1px
                    +mobile()
                        padding 5px
                    &:hover
                    &:focus 
                    &.active
                        color $texto
                .link-busca
                    padding-right 35px
                    background-image $img('icone-busca.svg')
                    background-repeat no-repeat
                    background-position 90%
                    background-size 16px
                .linha-vertical
                    margin 0 15px
                    width 1px
                    height 30px
                    border-right 1px solid #FFF
                    +below($tablet)
                        margin 10px
                        width 50px
                        height 1px
                        border-right none
                        border-top 1px solid #FFF
                    +mobile()
                        margin 5px
                .link-produtos
                    width 115px
                    position relative
                    +below($tablet)
                        width auto !important
    .header-paginas
        nav
            +below($tablet)
                background-color #FFF
                top 140px
            div.itens-menu
                .link-nav, .link-busca
                    color $texto
                    transition .2s ease
                    +below($tablet)
                        text-shadow none
                    &:hover
                    &:focus 
                    &.active
                        background-color $vinho
                        color #FFF
                .link-busca
                    background-image $img('icone-busca-escuro.svg')
                    &:hover
                    &:focus 
                    &.active
                        background-image $img('icone-busca.svg')
                .linha-vertical
                    margin 0 15px
                    width 1px
                    height 30px
                    border-right 1px solid $texto
                    +below($tablet)
                        margin 10px
                        width 50px
                        height 1px
                        border-right none
                        border-top 1px solid $texto
                    +mobile()
                        margin 5px

#mobile-toggle
    +above($tablet)
        display none
    display block
    background-color transparent
    border 0
    position relative
    height 40%
    width 28px
    outline 0
    padding 0
    cursor pointer
    margin 0 5% 0 auto
    +mobile()
        margin 10px 5% 0 auto
        height 20%
    .lines
        display block
        width 100%
        height 4px
        background-color #FFF
        position relative
        transition .3s ease
        border-radius 3px
        &:before
        &:after
            content ""
            display block
            position absolute
            left 0
            width 100%
            height 4px
            background-color #FFF
            transition .3s ease
            border-radius 3px
        &.internas
            background-color $vinho
            &:before
            &:after
                background-color $vinho
        &:before
            top 7px
        &:after
            top -7px
    &.close
        .lines
            display block
            background transparent
            z-index 9999
            &:before
            &:after
                transform-origin 50% 50%
                top 0
            &:before
                transform rotate3d(0,0,1,45deg)
            &:after
                transform rotate3d(0,0,1,-45deg)
        .lines-home
            background transparent
            &:before
            &:after
                transform-origin 50% 50%
                top 0
            &:before
                transform rotate3d(0,0,1,45deg)
            &:after
                transform rotate3d(0,0,1,-45deg)
                            
.submenu-nav
    width 1300px
    position absolute
    top 104%
    right calc("(100% - 1300px) / 2")
    display flex
    flex-direction row
    align-items center
    justify-content space-around
    padding 0 10px 3px 10px
    margin 0
    border-bottom 1px solid $vinho
    +mobile()
        width 100%
        right 0
    .linhas
        width 25%
        height 40px
        display flex
        flex-direction row
        align-items center
        justify-content flex-start
        background-color #FFF
        +mobile()
            width 80%
            height 30px
        .linha 
            height 48px
            display flex
            align-items center
            justify-content center
            rubik(16, thin)
            color $texto
            margin 0
            text-transform uppercase
            transition .2s ease
            +mobile()
                font-size 12px
                height 39px
            &#escadas-rolantes
                width 58%
                border-left 1px solid #CCC
                border-top 1px solid #CCC
                border-right 1px solid #FFF
                border-bottom 1px solid $vinho
                +mobile()
                    width 55%
                &.active
                    color $vinho
                    font-weight 500
                    border-left 1px solid $vinho
                    border-top 1px solid $vinho
                    border-right 1px solid $vinho
                    border-bottom 1px solid #FFF
            &#elevadores
                width 42%
                margin-right 3px
                border-left 1px solid #FFF
                border-top 1px solid #CCC
                border-right 1px solid #CCC
                border-bottom 1px solid $vinho
                +mobile()
                    width 40%
                &.active
                    color $vinho
                    font-weight 500
                    border-left 1px solid $vinho
                    border-top 1px solid $vinho
                    border-right 1px solid $vinho
                    border-bottom 1px solid #FFF
            &:hover
                color $vinho
                font-weight 500
    .categorias-elevadores
        width 75%
        height 40px
        display flex
        flex-direction row
        align-items center
        justify-content space-around
        background-color $vinho
        +below($tablet)
            display none
        .categoria
            rubik(16, thin)
            color #FFF
            margin 0 5px
            text-transform uppercase
            transition .2s ease
            &:hover
            &.active
                color $texto
                font-weight 500
        .letras
            display flex
            .letra
                width 25px
                height 25px
                rubik(16, medium)
                color #FFF
                margin 0 1.5px
                text-transform uppercase
                border 1px solid #bb898a
                display flex
                align-items center
                justify-content center
                transition .2s ease
                &:hover
                &.active
                    background-color $texto

.pop-up-orcamento
    width 255px
    height 150px
    display flex
    flex-direction row
    align-items flex-start
    position absolute
    top 15%
    right 0
    padding 20px 10px 20px 20px
    background-color #F2F2F2
    -webkit-box-shadow -5px 5px 1px rgba(204, 204, 204, 0.6)
    -moz-box-shadow    -5px 5px 1px rgba(204, 204, 204, 0.6)
    box-shadow         -5px 5px 1px rgba(204, 204, 204, 0.6)
    cursor pointer
    z-index 9999999
    +below($tablet)
        width 200px
        height 120px
        padding 20px 10px 10px 15px
        top 12%
    +mobile()
        top 17%
    .chanfrado
        position absolute
        top 0
        left -6px
        border-left 30px solid rgba(255,255,255, 1)
        border-bottom 30px solid transparent
    .img-cifrao
        top 0
        margin-right 10px
        +below($tablet)
            margin-right 5px
            > img
                width 24px
    .textos
        .frase-subtitulo
            margin 0 0 10px 0
            rubik(14, medium)
            color $vinho
            +below($tablet)
                font-size 11px
                margin 0 0 5px 0
        .frase-continuar
            margin 0
            rubik(12, thin)
            color $vinho
            +below($tablet)
                font-size 9px
    span.fechar
        rubik(14, bold)
        color $vinho
        position absolute
        width 20px
        height 20px
        top 2px
        right 2px
        cursor pointer
        display flex
        align-items center
        justify-content center
    &.closed
        width 70px
        height 65px
        +below($tablet)
            width 55px
            height 55px
        .textos
            display none
        span.fechar
            display none

.busca-avancada
    width 100%
    height auto
    background-color #F2F2F2
    position fixed
    top 0
    padding 40px 0 60px 0
    flex-direction column
    align-items flex-start
    z-index 9999
    +below($tablet)
        padding 40px 0
    +mobile()
        padding 40px 0 60px 0
        overflow-y auto
    h2.titulo
        width 1300px
        margin 0 auto
        rubik(24)
        color $vinho
        display flex
        align-items center
        justify-content space-between
        +below($tablet)
            width 90%
            font-size 20px
        +mobile()
            font-size 18px
        .img-fechar
            width 18px
            height auto
            margin-right 10px
            cursor pointer
            +below($tablet)
                width 16px
            +mobile()
                width 14px
    .form-busca
        width 1300px
        margin 30px auto 20px auto
        display flex
        flex-direction row
        align-items center
        justify-content center
        +below($tablet)
            width 90%
        +mobile()
            flex-direction column
            align-items flex-start
        .tipo
            width 170px
            rubik(18, thin)
            color $vinho
            margin 0
            padding 0 15px 0 0
            text-align end
            +below($tablet)
                width 20%
                font-size 14px
            +mobile()
                width 100%
                text-align start
                margin 0 0 5px 0
        input[type=text]
            width 580px
            height 50px
            margin 0 10px 0 0
            padding 0 20px
            border none
            outline none
            rubik(16, thin)
            color $texto
            background-color #FFF
            +below($tablet)
                width 32%
                height 40px
                padding 0 10px
                font-size 14px
            +mobile()
                width 100%
                margin 0 0 5px 0
            +placeholder()
                color $texto
                background-color #FFF
            &:hover
            &:focus
                font-weight 500
        select.busca-marcas
            width 360px
            height 50px
            margin 0 10px 0 0
            padding 0 20px
            border none
            outline none
            rubik(16, thin)
            color $texto
            background-color #FFF
            appearance none
            -webkit-appearance none
            -moz-appearance none
            background $img("seta-quantidade-descer.svg") no-repeat 96% #fff;
            +below($tablet)
                width 32%
                height 40px
                padding 0 10px
                font-size 14px
            +mobile()
                width 100%
                margin 0 0 5px 0
        .btn-buscar
            width 150px
            height 50px
            margin 0
            background-color $vinho
            border none
            border-radius 0
            rubik(16, medium)
            color #FFF
            outline none
            cursor pointer
            display flex
            align-items center
            justify-content center
            transition .3s ease
            +below($tablet)
                width 15%
                height 40px
                font-size 14px
            +mobile()
                width 100%
            .img-lupa
                width 16px
                height 16px
                margin-left 10px
            &:hover
            &:focus
                background-color $texto
    .filtro
        width 1300px
        margin 0 auto
        display flex
        flex-direction row
        align-items center
        justify-content center
        +below($tablet)
            width 90%
        +mobile()
            flex-direction column
            align-items flex-start
        .tipo
            width 170px
            rubik(18, thin)
            color $vinho
            margin 0
            padding 0 15px 0 0
            text-align end
            +below($tablet)
                width 20%
                font-size 14px
            +mobile()
                width 100%
                text-align start
                margin 0 0 5px 0
        .linhas-letras
            width 1110px
            display flex
            flex-direction row
            align-items center
            justify-content space-between
            +below($tablet)
                width 80%
            +mobile()
                width 100%
                flex-direction column
                align-items flex-start
                background-color #f2f2f2
            .linhas
                width 25%
                height 30px
                display flex
                flex-direction row
                align-items center
                justify-content flex-start
                +below($tablet)
                    height 20px
                .linha 
                    width auto
                    height 30px
                    rubik(12)
                    color $texto
                    margin 0 10px 0 0
                    padding 0 10px
                    text-transform uppercase
                    display flex
                    align-items center
                    border 1px solid $vinho
                    transition .2s ease
                    +below($tablet)
                        height 20px
                        font-size 10px
                    +mobile()
                        margin 0 0 5px 0
                    &:hover
                    &.active
                        background-color $vinho
                        color #FFF
            .categorias-elevadores
                width 75%
                height 30px
                display flex
                flex-direction row
                align-items center
                justify-content space-around
                +below($tablet)
                    height 20px
                .categoria
                    width auto
                    height 30px
                    margin 0 10px 0 0
                    padding 0 10px
                    rubik(12)
                    color $texto
                    text-transform uppercase
                    border 1px solid $vinho
                    background-color transparent
                    display flex
                    align-items center
                    transition .2s ease
                    +below($tablet)
                        height 20px
                        font-size 10px
                    +mobile()
                        margin 0 0 5px 0
                    &:hover
                        background-color $vinho
                        color #FFF
                .letras
                    display flex
                    +mobile()
                        flex-wrap wrap
                        width 80%
                    .letra-resultado
                        .letra
                            width 30px
                            height 30px
                            margin 0 2px
                            rubik(13)
                            color $texto
                            text-transform uppercase
                            border 1px solid $vinho
                            background-color transparent
                            display flex
                            align-items center
                            justify-content center
                            transition .2s ease
                            +below($tablet)
                                width 20px
                                height 20px
                                font-size 12px
                            +mobile()
                                margin 2px
                            &:hover
                            &:focus
                                background-color $vinho
                                color #FFF
                        .categorias-por-letra
                            position absolute
                            width auto
                            margin-left 2px
                            display flex
                            flex-direction column
                            align-items flex-start
                            border-left 1px solid $vinho
                            max-height 280px
                            overflow-y scroll
                            +mobile()
                                background-color #f2f2f2
                                max-height 200px
                            .categoria-sub
                                padding 5px 10px
                                rubik(16, thin)
                                color $texto
                                text-transform uppercase
                                transition .2s ease
                                +below($tablet)
                                    padding 5px
                                    font-size 12px
                                +mobile()
                                    padding 3px
                                    font-size 10px
                                &:hover
                                    background-color #DBDBDB
                                    color $vinho
                                    font-weight 500

.aviso-cookies
    display flex
    width 100%
    margin 0
    flex-direction row
    align-items center
    justify-content center
    bottom 0
    background-color rgba(0, 0, 0, 0.8)
    position fixed
    z-index 9
    padding 30px
    +mobile()
        flex-direction column
        align-items center
        padding 20px 
    .frase-cookies
        width 60%
        rubik(16, thin)
        color #FFF
        margin 0
        .link-politica
            text-decoration underline
            &:hover
            &:focus
                font-weight bold
        +below($tablet)
            font-size 14px
        +mobile()
            font-size 12px
            width 100%
            text-align center
    .aceitar-cookies
        width 20%
        height 40px
        rubik(16, thin)
        color #FFF
        background-color transparent 
        border 1px solid #FFF
        border-radius 0
        margin-left 30px
        cursor pointer
        outline none
        &:hover
        &:focus
            background-color $texto
        +below($tablet)
            font-size 14px
            height 30px
        +mobile()
            width 100%
            font-size 12px
            text-align center
            margin-left 0
            margin-top 10px