desktop-base-width     = 1260px
rupture.desktop-cutoff = $tablet = 1260px
rupture.mobile-cutoff  = $mobile = 768px
rupture.anti-overlap   = -1px

$vermelho = #E02227
$verde = #2caf2c
$vinho = #890A3F
$texto = #373435

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&family=Rubik:wght@300;400;700&display=swap');

rubik($size, $weight = normal)
    font-family 'Rubik', 'Helvetica', 'Arial', sans-serif
    font-size $size px
    font-weight 400
    if $weight == thin
        font-weight 300
    if $weight == medium
        font-weight 500
    if $weight == bold
        font-weight 700
montserrat($size, $weight = normal)
    font-family 'Montserrat', 'Helvetica', 'Arial', sans-serif
    font-size $size px
    font-weight 400
    if $weight == medium
        font-weight 500
    if $weight == bold
        font-weight 700