.painel-login
    background linear-gradient(90deg, #185a9d 10%, #43cea2 120%)
    .login
        padding 30px
        background #fff
        border-radius 5px
        margin 100px auto 0
        float none
        box-shadow 0px 0px 10px 0px rgba(0, 0, 0, .5)
        +below(768px)
            margin-top 30px
    .input-group
        margin-bottom 5px
    h3
        margin 0 0 30px
        small
            display block
            margin-top 10px

td
    vertical-align middle !important

.cke
    border 2px solid #dce4ec !important
    border-radius 4px
    transition border .3s !important
.cke_editable
    font-family "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif !important
    font-size 15px !important
.cke_focus
    border-color #2c3e50 !important

.multiselect
    text-align left !important

// itens para este projeto
.filtros
    width 100%
    display flex
    flex-direction row
    border 1px solid #ECF0F1
    padding 10px
    margin 0 0 30px 0
    .linhas 
        width 35%
        margin 0 0 0 20px
        border-right 1px solid #ECF0F1
        .categorias
            width 100%
            display flex
            flex-direction column
            margin-bottom 10px
            .lista-categorias-select
                display flex
                flex-direction row
                margin 5px 30px 0 0
                .select-categorias
                    width 100%
                    height 30px
                    outline none
    .vitrines
        width 15%
        display flex
        flex-direction column
        align-items flex-start
        padding-left 30px
        border-left 1px solid #ECF0F1
        .vitrine
            width auto
            border 2px solid #18bc9c
            background-color #18bc9c
            border-radius 5px
            padding 5px 10px
            color #FFF
            text-decoration none
            text-transform lowercase
            margin 5px 5px 0 0
            font-size 12px !important
            &:focus
            &:hover
                border 2px solid #13967d
                background-color #13967d
            &.active
                border 2px solid #13967d
                background-color #13967d
.btn-todos-projetos
    margin 0 0 30px 0
.marcas
    width 50%
    margin 0 0 0 30px
.titulo-linhas, .titulo-marcas, .titulo-categorias, .titulo-vitrines
    float left
    margin-bottom 10px
.lista-marcas, .lista-linhas, .lista-categorias
    width 100%
    display flex
    align-items center
    justify-content flex-start
    flex-flow wrap
    margin-bottom 30px
    .marca, .linha, .categoria
        width auto
        border 2px solid #18bc9c
        background-color #18bc9c
        border-radius 5px
        padding 5px 10px
        color #FFF
        text-decoration none
        text-transform lowercase
        margin 5px 5px 0 0
        font-size 12px !important
        &:focus
        &:hover
            border 2px solid #13967d
            background-color #13967d
        &.active
            border 2px solid #13967d
            background-color #13967d
.lista-linhas
    margin-bottom 10px
            
// CLIENTES e NEWSLETTER - btn exportar
.exportar-csv
    margin-top 40px
    display flex
    flex-direction row
    align-items center
    justify-content flex-end
    padding 0
    p
        font-size 18px
        margin 0
        padding 0 20px 0 0
    a
        width 280px
        font-size 20px
        color #2c3e50
        text-align center
        background-color #dce4ec
        border-radius 2px
        padding 5px
        text-transform uppercase
        &:hover
            text-decoration none
            background-color #aabed1