section.busca-resultado
    width 1300px
    height auto
    margin 0 auto
    position relative
    padding 95px 0
    display flex
    flex-direction row
    align-items flex-start
    +below($tablet)
        width 90%
        padding 60px 0
    +mobile()
        padding 40px 0
        flex-direction column
    .submenu-resultado
        width 25.5%
        display flex
        flex-direction column
        align-items flex-start
        +below($tablet)
            width 30%
        +mobile()
            width 100%
            margin-bottom 30px
        h2.titulo
            rubik(24)
            color $vinho
            margin 0 0 35px 0
            +below($tablet)
                font-size 20px
                margin 0 0 25px 0
            +mobile()
                margin 0 0 20px 0
        .palavra-chave, .marca
            rubik(16)
            font-weight 600
            color $texto
            text-transform uppercase
            margin 0 0 25px 0
            +below($tablet)
                font-size 14px
                margin 0 0 15px 0
            +mobile()
                margin 0 0 5px 0
            .item
                rubik(14, thin)
                margin 0 5px 0 0
                +below($tablet)
                    font-size 12px
    .resultados-produtos
        width 74.5%
        +below($tablet)
            width 70%
        +mobile()
            width 100%
        .categoria-titulo
            width 100%
            rubik(14)
            color $vinho
            text-transform uppercase
            margin 0
            padding 0 0 5px 0
            border-bottom 1px solid $vinho
            +below($tablet)
                font-size 12px
        .produtos-categoria
            width 100%
            margin 20px 0 40px 0
            display flex
            flex-direction row
            flex-wrap wrap
            justify-content flex-start
            .link-produto
                width 30.9%
                height auto
                border 1px solid #D3D3D3
                display flex
                flex-direction column
                align-items center
                margin 0 35px 35px 0
                transition .1s ease
                +below($tablet)
                    width 31%
                    margin 0 20px 20px 0
                +mobile()
                    width 100%
                    margin 0 0 15px 0
                div.imagens
                    width 100%
                    height 300px
                    padding 20px
                    position relative
                    +below($tablet)
                        height 200px
                        padding 15px
                    .img-produto
                        width 100%
                        height 100%
                        object-fit contain
                        transition transform 0.2s
                    .img-logo
                        width 100%
                        height 100%
                        padding 0 50px
                        opacity 0.5
                        position absolute
                        top 0
                        left 0
                        object-fit contain
                        +below($tablet)
                            padding 0 25px
                        +mobile()
                            padding 0 20%
                .marca
                    width 100%
                    height 60px
                    padding 15px 10px
                    background-color #F2F2F2
                    +below($tablet)
                        padding 10px
                    .img-marca
                        width 100%
                        height 100%
                        object-fit contain
                        transition transform 0.2s
                .codigo
                    rubik(14)
                    font-weight 600
                    color $texto
                    text-align center
                    padding 15px 0 5px 0
                    margin 0
                    transition .2s ease
                    +below($tablet)
                        font-size 12px
                        padding 10px 0 5px 0
                .titulo
                    rubik(18)
                    color $texto
                    text-align center
                    padding 0 5px 15px 5px
                    margin 0
                    transition .2s ease
                    +below($tablet)
                        font-size 14px
                        padding 0 5px 10px 5px
                &:hover
                    border 1px solid $vinho
                    .img-produto
                        transform scale(1.1)
                    .marca
                        .img-marca
                            transform scale(1.1)
                    .titulo
                        color $vinho