section.contato
    width 100%
    margin 50px 0 60px 0
    background-color #F2F2F2
    +mobile()
        margin 40px 0
    .centralizado
        width 1300px
        margin 0 auto
        display flex
        flex-direction row
        align-items flex-start
        padding 40px 0 50px 0
        +below($tablet)
            width 90%
            padding 30px 0
        +mobile()
            flex-direction column
        .contatos
            width 35%
            +mobile()
                width 100%
            .telefone
                rubik(36)
                color $texto
                transition .3s ease
                +below($tablet)
                    font-size 26px
                +mobile()
                    font-size 24px
                &:hover
                    color $vinho
            .endereco
                rubik(18, thin)
                color $texto
                margin 30px 0 0 0
                line-height 1.4
                padding-right 150px
                +below($tablet)
                    font-size 16px
                    margin 25px 0 0 0
                    padding-right 80px
                +mobile()
                    font-size 14px
                    margin 20px 0
                    padding-right 100px
        .fale-conosco
            width 65%
            +mobile()
                width 100%
            h4.titulo
                rubik(18)
                color $vinho
                margin 0 0 15px 0
                +below($tablet)
                    font-size 16px
                    margin 0 0 10px 0
            form
                width 100%
                display flex
                flex-direction row
                align-items flex-start
                +mobile()
                    flex-direction column
                .dados
                    display flex
                    flex-direction column
                    +below($tablet)
                        width 47%
                    +mobile()
                        width 100%
                    input[type=text]
                    input[type=email]
                        margin 2.5px 0
                        width 400px
                        height 30px
                        padding 0 10px
                        border none
                        outline none
                        rubik(16, thin)
                        color $texto
                        background-color #FFF
                        +below($tablet)
                            width 100%
                            margin 2px 0
                            height 25px
                            font-size 14px
                        +placeholder()
                            color $texto
                            background-color #FFF
                        &:hover
                        &:focus
                            font-weight 500
                textarea
                    margin 2.5px 5px
                    width 440px
                    height 135px
                    padding 10px 10px
                    border none
                    outline none
                    resize none
                    rubik(16, thin)
                    color $texto
                    background-color #FFF
                    +below($tablet)
                        width 47%
                        height 112px
                        margin 2px 4px
                        font-size 14px
                    +mobile()
                        width 100%
                        height 120px
                        margin 2px 0
                    +placeholder()
                        color $texto
                        background-color #FFF
                    &:hover
                    &:focus
                        font-weight 500
                .btn-contato
                    margin 2.5px 0
                    width 30px
                    height 135px
                    background-color $vinho
                    border none
                    outline none
                    cursor pointer
                    transition .3s ease
                    +below($tablet)
                        margin 2px 0
                        height 112px
                    +mobile()
                        width 100%
                        height 30px
                    &:hover
                    &:focus
                        background-color $texto
            clearfix()
            .flash
                position relative
                display flex
                align-items center
                justify-content center
                margin 0
                width 100%
                height 30px
                rubik(12, thin)
                padding 5px 10px
                border-radius 0
                > p
                    margin 0
                &.flash-erro
                    border 2px solid $vermelho
                    background $vermelho
                    color #fff
                &.flash-sucesso
                    border 2px solid $verde
                    background $verde
                    color #fff
    .contato-mapa
        width 100%
        height 550px
        +below($tablet)
            height 400px
        iframe 
            width 100%
            height 100%