section.empresa
    width 100%
    height auto
    padding 60px 0
    margin 0
    +mobile()
        padding 40px 0
    .dados-empresa
        width 1300px
        margin 0 auto
        display flex
        flex-direction row
        align-items flex-start
        justify-content space-between
        +below($tablet)
            width 90%
        +mobile()
            flex-direction column
        .capa-empresa
            width 635px
            +below($tablet)
                width 49%
            +mobile()
                width 100%
                margin-bottom 15px
            .img-capa
                max-width 100%
        .texto-empresa
            width 635px
            background-color #F2F2F2
            padding 50px 50px 30px 50px
            rubik(16, thin)
            color $texto
            +below($tablet)
                width 49%
                padding 30px
                font-size 14px
            +mobile()
                width 100%
                padding 20px
            > p
                margin 0 0 30px 0
                line-height 1.8
                +below($tablet)
                    margin 0 0 20px 0
    .imagens-empresa
        width 1300px
        margin 30px auto
        display flex
        flex-direction row
        align-items center
        justify-content space-between
        flex-wrap wrap
        +below($tablet)
            width 90%
        .empresa-imagem
            width 23.5%
            height 350px
            +below($tablet)
                height 250px
            +mobile()
                width 48.5%
                height 200px
                margin-bottom 10px
            .img-empresa
                width 100%
                height 100%
                object-fit cover
    .pilares
        width 1300px
        margin 0 auto
        padding 60px 0 90px 0
        display flex
        flex-direction row
        align-items flex-start
        justify-content center
        +below($tablet)
            width 90%
            padding 30px 0 50px 0
        +mobile()
            flex-direction column
        .missao, .visao, .valores
            width 350px
            height auto
            display flex
            flex-direction column
            align-items center
            margin 0 20px
            +below($tablet)
                width 30%
                margin 0 2%
            +mobile()
                width 100%
                margin 0 0 30px 0
            div.img
                width 100%
                height 110px
                display flex
                align-items flex-end
                justify-content center
                +below($tablet)
                    height 60px
                .img-missao, .img-visao, .img-valores
                    max-width 100%
                    max-height 100%
            .titulo
                rubik(24)
                color $vinho
                margin 20px 0 15px 0
                +below($tablet)
                    font-size 20px
                +mobile()
                    margin 15px 0 10px 0
            .texto
                rubik(16, thin)
                color $texto
                text-align center
                +below($tablet)
                    font-size 14px
                > p
                    margin 0
                    line-height 1.8
    .diferenciais
        width 100%
        height auto
        background-color $vinho
        padding 60px 0 40px 0
        +below($tablet)
            padding 40px 0
        .titulo
            montserrat(24)
            font-weight 800
            color #FFF
            margin 0 0 60px 0
            text-align center
            +below($tablet)
                font-size 20px
                margin 0 0 40px 0
        .centralizado
            width 1200px
            margin 0 auto
            display flex
            flex-direction row
            align-items center
            justify-content center
            flex-wrap wrap
            +below($tablet)
                width 80%
            +mobile()
                width 90%
            .diferencial
                width 200px
                height 180px
                display flex
                flex-direction column
                align-items center
                margin 10px 20px 60px 20px
                +below($tablet)
                    width 20%
                    height 130px
                    margin 10px 20px 40px 20px
                +mobile()
                    width 42%
                    height 120px
                    margin 10px 10px 30px 10px
                .img-diferencial
                    width 90%
                    height 80px
                    margin-bottom 25px
                    display flex
                    align-items center
                    justify-content center
                    +below($tablet)
                        height 60px
                        margin-bottom 20px
                    img
                        transition transform 0.3s
                        +below($tablet)
                            width 40%
                        +mobile()
                            width 50%
                .titulo-diferencial
                    max-width 90%
                    margin 0
                    montserrat(24)
                    font-weight 800
                    color #FFF
                    text-align center 
                    text-transform uppercase
                    line-height 1.4
                    +below($tablet)
                        font-size 18px
                        font-weight 600
                    +mobile()
                        font-size 14px

