section.home
    width 100%
    height auto
    position relative
    .banners
        width 100%
        height 665px
        position relative
        +below($tablet)
            height 550px
        +mobile()
            height 310px
        .banner
            width 100%
            height 100%
            top 0
            left 0
            background-size cover
            background-position center
            object-fit cover
            +mobile()
                height 200px
            .overlay-banner
                width 600px
                height 270px
                padding 40px 70px 40px 40px
                background-color rgba(242,242,242,0.75)
                border 1px solid $texto
                position relative
                top 60px
                margin 0 auto 0 calc("(100% - 1300px) / 2")
                display flex
                flex-direction column
                align-items flex-start
                +below($tablet)
                    width 40%
                    height 230px
                    padding 30px 50px 30px 30px
                    top 50px
                    margin 0 auto 0 5%
                +mobile()
                    width 100%
                    height 110px
                    top 200px
                    margin 0
                    background-color #F2F2F2
                    padding 15px 40px 15px 5%
                    border 1px solid #F2F2F2
                .titulo
                    montserrat(32)
                    font-weight 800
                    color $vinho
                    line-height 1.4
                    margin 0
                    +below($tablet)
                        font-size 24px
                    +mobile()
                        font-size 16px
                .subtitulo
                    rubik(16)
                    color $texto
                    margin 40px 0 0 0
                    +below($tablet)
                        font-size 14px
                        margin 25px 0 0 0
                    +mobile()
                        font-size 12px
                        margin 10px 0 0 0
                .btn-link
                    width 50px
                    height 50px
                    background-color $vinho
                    display flex
                    align-items center
                    justify-content center
                    position absolute
                    right 20px
                    bottom 20px
                    transition .3s ease
                    +below($tablet)
                        width 40px
                        height 40px
                    +mobile()
                        width 30px
                        height 30px
                        right 10px
                        bottom 10px
                    .img-setinha
                        width auto
                        height 12px
                        transition transform 0.3s
                    &:hover
                        background-color $texto
                        .img-setinha
                            transform rotate(360deg) scale(1.2)
        .cycle-pager 
            width 100%
            display flex
            flex-direction row
            align-items center
            justify-content center
            position absolute
            bottom 15px
            z-index 500
            padding 0
            background transparent
            margin 0 auto
            +mobile()
                bottom 120px
            span 
                height 13px
                width 13px
                border-radius 0
                border 2px solid #5A5959
                color transparent
                background-color transparent
                transition-property background-color
                transition-duration 300
                cursor pointer
                margin 0 2px
                +below($tablet)
                    width 11px
                    height 11px
        .cycle-pager span:hover, .cycle-pager span.cycle-pager-active, #sb-counter div.sb-counter-current 
            background-color #5A5959
    .itens-destaques
        margin 30px 0
        height 260px
        display flex
        flex-direction row
        +below($tablet)
            height 220px
            margin 20px 0
        +mobile()
            height 120px
        .left, .right
            width calc("(100% - 1300px) / 2")
            height 100%
            background-color $vinho
            +below($tablet)
                width 5%
        .destaque1, .destaque2, .destaque3
            width 420px
            height 100%
            background-color $vinho
            position relative
            transition .3s ease
            +below($tablet)
                width 30%
            +mobile()
                width calc("(90% - 15px) / 3")
            img.fundo
                width 100%
                height 100%
                object-fit cover
            span.titulo
                position absolute
                montserrat(28)
                font-weight 800
                color #FFF
                text-shadow #5e595b 2px -1px 0px
                left 15px
                bottom 15px
                +below($tablet)
                    font-size 20px
                    left 10px
                    bottom 10px
                +mobile()
                    font-size 14px
                    font-weight 600
            &:hover
                filter grayscale(60%)
        .destaque1
            margin-left 12px
            +mobile()
                margin-left 5px
        .destaque2
            margin 0 12px
            +mobile()
                margin 0 5px
        .destaque3
            margin-right 12px
            +mobile()
                margin-right 5px
    .orcamento
        width 100%
        height 260px
        background-color #F2F2F2
        padding 50px 0
        +below($tablet)
            height 220px
            padding 35px 0
        +mobile()
            padding 15px 
        .centralizado
            width 1300px
            height 100%
            margin 0 auto
            display flex
            flex-direction row
            align-items center
            +below($tablet)
                width 90%
            +mobile()
                flex-direction column
            .titulo
                width 35%
                height 100%
                montserrat(36)
                font-weight 800
                color $vinho
                text-align end
                line-height 1.4
                padding-right 35px
                border-right 1px solid $vinho
                display flex
                align-items center
                +below($tablet)
                    font-size 26px
                    padding-right 25px
                +mobile()
                    width 90%
                    padding 0
                    font-size 24px
                    border none
                    text-align center
            .texto
                width 35%
                padding 0 60px 0 35px
                rubik(18, thin)
                color $texto
                line-height 1.4
                +below($tablet)
                    font-size 16px
                    padding 0 25px
                +mobile()
                    width 100%
                    padding 5px 0 15px 0
                    font-size 14px
                    text-align center
            .btn-orcamento
                width 310px
                height 55px
                background-color $vinho
                montserrat(16, bold)
                color #FFF
                display flex
                align-items center
                justify-content center
                transition .3s ease
                +below($tablet)
                    width 250px
                    height 50px
                    font-size 14px
                +mobile()
                    width 90%
                    font-size 12px
                span
                    montserrat(18, bold)
                    margin 0 0 4px 8px
                    transition transform 0.3s
                    +mobile()
                        font-size 15px
                        margin 0 0 2px 5px
                &:hover
                    background-color $texto
                    span
                        margin-bottom 2px
                        transform rotate(360deg) scale(1.2)
    .produtos
        width 1100px
        margin 0 auto
        padding 60px 0 30px 0
        display flex
        flex-direction row
        justify-content space-between
        flex-wrap wrap
        +below($tablet)
            padding 35px 0 20px 0
            width 80%
        +mobile()
            padding 20px 0
        .produto
            width 25%
            height 250px
            display flex
            flex-direction column
            align-items center
            margin-bottom 50px
            position relative
            +mobile()
                width 50%
                margin-bottom 30px
            div.imagens
                width 80%
                height 70%
                position relative
                +below($tablet)
                    width 70%
                .img-capa
                    width 100%
                    height 100%
                    object-fit contain
                    transition transform 0.2s
                .img-logo
                    width 100%
                    height 100%
                    padding 0 25px
                    opacity 0.5
                    position absolute
                    top 0
                    left 0
                    object-fit contain
             .cod-titulo
                 width 80%
                 height 30%
                 margin-top 20px
                 rubik(14, thin)
                 color $texto
                 text-align center
                 transition .2s ease
                 +below($tablet)
                    font-size 12px
                    margin-top 10px
            &:hover
                div.imagens
                    .img-capa
                        transform scale(1.2)
                .cod-titulo
                    font-weight 500
    .diferenciais
        width 100%
        height auto
        padding 60px 0
        background-color $vinho
        +below($tablet)
            padding 40px 0
        .centralizado
            width 1300px
            margin 0 auto
            +below($tablet)
                width 90%
            h2.titulo
                width 100%
                margin 0 0 70px 0
                montserrat(24)
                font-weight 800
                color #FFF
                text-align center
                +below($tablet)
                    font-size 20px
                    margin 0 0 50px 0
                +mobile()
                    font-size 16px
                    margin 0 0 30px 0
            .itens
                width 100%
                display flex
                flex-direction row
                flex-wrap wrap
                align-items center
                justify-content center
                .diferencial
                    width 170px
                    height 180px
                    display flex
                    flex-direction column
                    align-items center
                    margin 0 30px 30px 30px
                    +below($tablet)
                        width 15%
                        height 160px
                    +mobile()
                        width 30%
                        height 120px
                        margin 0 20px 20px 20px
                    .img-diferencial
                        width 90%
                        height 80px
                        margin-bottom 25px
                        display flex
                        align-items center
                        justify-content center
                        +mobile()
                            width 60%
                            height 65px
                            margin-bottom 15px
                        img
                            width auto
                            height auto
                            transition transform 0.3s
                            +mobile()
                                width 100%
                                object-fit contain
                    .titulo
                        max-width 90%
                        margin 0
                        montserrat(24)
                        font-weight 800
                        color #FFF
                        text-align center 
                        text-transform uppercase
                        line-height 1.4
                        transition .3s ease
                        +below($tablet)
                            font-size 18px
                        +mobile()
                            font-size 14px
                a.diferencial
                    &:hover
                        .img-diferencial
                            img
                                transform scale(1.2)
    .novidades
        width 1300px
        margin 0 auto
        padding 85px 0 60px 0
        +below($tablet)
            width 90%
            padding 50px 0
        +mobile()
            padding 40px 0
        h2.titulo
            width 100%
            margin 0 0 45px 0
            montserrat(24)
            font-weight 800
            color $vinho
            text-align center
            +below($tablet)
                font-size 20px
                margin 0 0 35px 0
            +mobile()
                font-size 18px
        .itens-novidades
            width 100%
            display flex
            flex-direction row
            align-items flex-start
            justify-content center
            +mobile()
                flex-direction column
                align-items center
            .novidade
                width 30%
                height auto
                display flex
                flex-direction column
                align-items flex-start
                margin 0 15px
                position relative
                +mobile()
                    width 90%
                    align-items center
                    margin 0 0 15px 0
                .img-novidade
                    position relative
                    width 250px
                    height 250px
                    border-radius 50%
                    object-fit cover
                    transition transform 0.3s
                    +below($tablet)
                        max-width 200px
                        max-height 200px
                    +mobile()
                        max-width 150px
                        max-height 150px
                        right 30px
                .categoria
                    position absolute
                    top 100px
                    right 25px
                    width 150px
                    height 50px
                    background-color $vinho
                    rubik(14)
                    color #FFF
                    text-transform uppercase
                    display flex
                    align-items center
                    justify-content center
                    transition .3s ease
                    +below($tablet)
                        top 80px
                        right 0
                        width 120px
                        height 40px
                        font-size 12px
                    +mobile()
                        width 100px
                        top 55px
                        right 25px
                        font-size 10px
                .titulo-novidade
                    position relative
                    width 90%
                    rubik(24, medium)
                    color $vinho
                    margin 15px 0
                    line-height 1.4
                    transition .3s ease
                    +below($tablet)
                        font-size 18px
                    +mobile()
                        font-size 14px
                        text-align center
                &:hover
                    .img-novidade
                        transform scale(1.1)
                    .categoria
                        background-color $texto
                    .titulo-novidade
                        color $texto
    .marcas
        width 100%
        height 320px
        padding 30px 0
        background-color #F2F2F2
        +below($tablet)
            height 230px
        +mobile()
            height auto
        h2.titulo
            width 100%
            margin 0 0 60px 0
            montserrat(24)
            font-weight 800
            color $vinho
            text-align center
            +below($tablet)
                font-size 20px
                margin 0 0 40px 0
            +mobile()
                font-size 18px
                margin 0 0 25px 0
        .centralizado
            width 1300px
            margin 0 auto
            display flex
            flex-direction row
            align-items center
            justify-content space-around
            +below($tablet)
                width 90%
            +mobile()
                flex-wrap wrap
            .marca
                max-width 10%
                +mobile()
                    max-width 45%
                    margin-bottom 10px
                    padding 20px
                .img-marca
                    width 100%
                    height auto
                    object-fit contain
                    transition .3s ease
                    +mobile()
                        max-width 80%
                &:hover
                    .img-marca
                        transform scale(1.2)
    .newsletter
        width 1300px
        margin 0 auto
        padding 80px 0
        +below($tablet)
            width 90%
            padding 50px 0
        +mobile()
            padding 40px 0
        .form-newsletter
            width 100%
            display flex
            flex-direction row
            align-items center
            justify-content center
            +mobile()
                flex-direction column
            p.frase
                rubik(14, thin)
                color $vinho
                margin 0 10px 0 0
                +below($tablet)
                    font-size 12px
                +mobile()
                    margin 0 0 10px 0
            input[type=text]
            input[type=email]
                margin 0 2px
                width 300px
                height 30px
                padding 0 10px
                border 1px solid $vinho
                outline none
                rubik(14, thin)
                color $vinho
                background-color transparent
                +below($tablet)
                    width 25%
                    font-size 12px
                +mobile()
                    width 90%
                    margin 0 0 10px 0
                +placeholder()
                    color $vinho
                    background-color transparent
                &:hover
                &:focus
                    font-weight 500
            .btn-enviar
                margin 0
                background-color transparent
                border none
                outline none
                cursor pointer
                .img-seta
                    width auto
                    height 12px
                    margin-left 10px
                    transition transform 0.3s
                &:hover
                &:focus
                    .img-seta
                        transform rotate(360deg) scale(1.3)
        clearfix()
        .flash
            position relative
            display flex
            align-items center
            justify-content center
            margin 15px auto 0 auto
            width 70%
            height 30px
            rubik(12, thin)
            padding 5px 10px
            border-radius 0
            > p
                margin 0
            &.flash-erro
                border 2px solid $vermelho
                background $vermelho
                color #fff
            &.flash-sucesso
                border 2px solid $verde
                background $verde
                color #fff