section.marcas
    width 1300px
    margin 0 auto
    padding 60px 0
    display flex
    flex-direction row
    flex-wrap wrap
    align-items center
    justify-content flex-start
    +below($tablet)
        width 90%
    +mobile()
        padding 40px 0
        justify-content space-between
    .marca
        width 300px
        height 150px
        padding 20px
        background-color #F2F2F2
        margin 0 33px 40px 0
        display flex
        align-items center
        justify-content center
        +below($tablet)
            width 23%
            height 120px
            margin 0 20px 20px 0
        +mobile()
            width 47%
            height 100px
            margin 0 0 20px 0
        .img-marca
            max-width 100%
            max-height 100%
            object-fit contain
            transition .3s ease
        &:hover
            .img-marca
                transform scale(1.2)