section.novidades
    width 100%
    padding 50px 0
    +mobile()
        padding 40px 0
    .destaque-topo
        width 100%
        height 420px
        background-color #F2F2F2
        padding 40px 0
        +below($tablet)
            height 330px
        +mobile()
            height auto
            padding 30px 0
        a.centralizado
            width 1300px
            margin 0 auto
            display flex
            flex-direction row
            align-items center
            justify-content space-between
            +below($tablet)
                width 90%
            +mobile()
                flex-direction column
            h2.titulo
                width 20%
                rubik(24)
                color $vinho
                margin 0
                padding 0 40px 0 0
                line-height 1.5
                +below($tablet)
                    font-size 18px
                    padding 0 20px 0 0
                +mobile()
                    width 100%
                    padding 0 0 20px 0
                    text-align center
            .capa-categoria
                width 40%
                height 100%
                padding 0 20px
                position relative
                +mobile()
                    width 100%
                    height 180px
                .img-novidade
                    max-width 340px
                    max-height 340px
                    border-radius 50%
                    object-fit cover
                    transition transform 0.3s
                    +below($tablet)
                        max-width 250px
                        max-height 250px
                    +mobile()
                        max-width 180px
                        max-height 180px
                        margin-left 40px
                .categoria
                    position absolute
                    top 43%
                    right 30px
                    width 150px
                    height 50px
                    background-color $vinho
                    rubik(14)
                    color #FFF
                    text-transform uppercase
                    display flex
                    align-items center
                    justify-content center
                    transition .3s ease
                    +below($tablet)
                        right 0
                        width 120px
                        height 45px
                        font-size 12px
                    +mobile()
                        top 40%
            .titulo-novidade
                width 40%
                rubik(32)
                color $vinho
                margin 0
                padding 0 20px 0 15px
                transition .3s ease
                +below($tablet)
                    font-size 22px
                    padding 0 0 0 30px
                +mobile()
                    width 100%
                    padding 20px 0 0 0
                    text-align center
                    font-size 18px
            &:hover
                .capa-categoria
                    .img-novidade
                        transform scale(1.1)
                    .categoria
                        background-color $texto
                .titulo-novidade
                    color $texto
    .destaques
        width 1300px
        margin 70px auto
        display flex
        flex-direction row
        align-items flex-start
        justify-content center
        +below($tablet)
            width 90%
            margin 50px auto
        +mobile()
            flex-direction column
            align-items center
        .novidade
            width 30%
            height auto
            display flex
            flex-direction column
            align-items flex-start
            margin 0 15px
            position relative
            +mobile()
                width 90%
                align-items center
                margin 0 0 15px 0
            .img-novidade
                position relative
                max-width 250px
                max-height 250px
                border-radius 50%
                object-fit cover
                transition transform 0.3s
                +below($tablet)
                    max-width 200px
                    max-height 200px
                +mobile()
                    max-width 150px
                    max-height 150px
                    right 30px
            .categoria
                position absolute
                top 100px
                right 25px
                width 150px
                height 50px
                background-color $vinho
                rubik(14)
                color #FFF
                text-transform uppercase
                display flex
                align-items center
                justify-content center
                transition .3s ease
                +below($tablet)
                    top 80px
                    right 0
                    width 120px
                    height 40px
                    font-size 12px
                +mobile()
                    width 100px
                    top 55px
                    right 25px
                    font-size 10px
            .titulo-novidade
                position relative
                width 90%
                rubik(24)
                color $vinho
                margin 15px 0
                line-height 1.4
                transition .3s ease
                +below($tablet)
                    font-size 18px
                +mobile()
                    font-size 14px
                    text-align center
            &:hover
                .img-novidade
                    transform scale(1.1)
                .categoria
                    background-color $texto
                .titulo-novidade
                    color $texto
    .todas-novidades
        width 1100px
        margin 0 auto
        padding 30px 0
        +below($tablet)
            width 75%
        +mobile()
            width 90%
        .novidade
            width 100%
            display flex
            flex-direction row
            align-items center
            justify-content center
            margin-bottom 10px
            +mobile()
                flex-direction column
                margin-bottom 15px
            .categoria
                width 150px
                height 50px
                background-color $vinho
                rubik(14)
                color #FFF
                text-transform uppercase
                display flex
                align-items center
                justify-content center
                margin-right 10px
                +below($tablet)
                    font-size 12px
                +mobile()
                    width 100%
                    height 40px
                    margin-right 0
                    margin-bottom 5px
            .link-novidade
                width 900px
                height 50px
                rubik(16)
                color $texto
                display flex
                align-items center
                justify-content flex-start
                padding 0 20px
                background-color #F2F2F2
                background-image $img('setinha-fios.svg')
                background-repeat no-repeat
                background-position 98%
                transition .3s ease
                +below($tablet)
                    font-size 14px
                +mobile()
                    width 100%
                    height 80px
                &:hover
                    color #FFF
                    background-color $vinho
                    background-image $img('setinha-fios-branca.svg')
    .btn-mais-novidades
        width 200px
        height 40px
        margin 40px calc("(100% - 200px) / 2") 
        border 1px solid $vinho
        background-color transparent
        rubik(16, thin)
        color $vinho
        outline none
        transition .3s ease
        +below($tablet)
            width 20%
            font-size 14px
            margin 20px 40%
        +mobile()
            width 40%
            margin 20px 30%
        &:hover
            background-color $vinho
            color #FFF
