section.novidades-show
    width 100%
    padding 50px 0
    +mobile()
        padding 40px 0
    .faixa-superior
        width 100%
        height 200px
        background-color #F2F2F2
        position relative
        display flex
        align-items center
        +below($tablet)
            height 130px
        +mobile()
            height 180px
            align-items flex-start
            padding-top 25px
        h4.titulo
            rubik(32)
            color $vinho
            line-height 1.5
            margin 0
            padding 0 calc("(100% - 1300px) / 2") 0 calc("50% + 10px")
            +below($tablet)
                font-size 20px
                padding 0 5% 0 50%
            +mobile()
                padding 0 5%
    .conteudo
        width 1300px
        margin 0 auto
        position relative
        display flex
        +below($tablet)
            width 90%
        +mobile()
            flex-direction column
        .left
            width 50%
            position relative
            top -200px
            display flex
            flex-direction column
            align-items flex-start
            +below($tablet)
                top -130px
            +mobile()
                width 100%
                top -40px
                padding-bottom 40px
            .img-capa
                max-width 600px
                height auto
                object-fit cover
                +below($tablet)
                    width 90%
                +mobile()
                    width 100%
            .categoria
                position absolute
                top 0
                left 0
                width 150px
                height 50px
                background-color $vinho
                rubik(14)
                color #FFF
                text-transform uppercase
                display flex
                align-items center
                justify-content center
                +below($tablet)
                    width 130px
                    height 40px
                    font-size 12px
            .btn-voltar
                width 200px
                height 40px
                position relative
                margin 70px 0 0 0
                border 1px solid $vinho
                background-color transparent
                rubik(16, thin)
                color $vinho
                display flex
                align-items center
                justify-content center
                outline none
                transition .3s ease
                +below($tablet)
                    width 30%
                    height 35px
                    font-size 14px
                    margin 50px 0 0 0
                +mobile()
                    position fixed
                    background-color #FFF
                    bottom 10px
                    right 5%
                    margin 0
                &:hover
                    background-color $vinho
                    color #FFF
        .right
            width 50%
            +mobile()
                width 100%
                margin-top -70px
            .texto
                padding 35px 10px
                rubik(16, thin)
                color $texto
                +below($tablet)
                    padding 15px 0
                    font-size 14px
                +mobile()
                    padding 0
                > p
                    margin 20px 0
                    line-height 1.8
                > ul 
                    line-height 1.8
                    margin 0 0 20px 0
                    li
                        line-height 1.8
