section.pedido-de-orcamento
    width 1300px
    margin 0 auto
    padding 60px 0 100px 0
    display flex
    flex-direction row
    align-items flex-start
    justify-content space-between
    +below($tablet)
        width 90%
        padding 60px 0
    +mobile()
        padding 40px 0
        flex-direction column
    .left
        width calc("(1300px - 30px) / 2")
        +below($tablet)
            width 49%
        +mobile()
            width 100%
            margin-bottom 20px
        .logado
            width 100%
            height 130px
            background-color #F2F2F2
            padding 30px 20px
            +below($tablet)
                height 100px
                padding 20px
            +mobile()
                height 85px
                padding 15px
            .titulo
                rubik(24)
                color $vinho
                margin 0
                +below($tablet)
                    font-size 20px
                +mobile()
                    font-size 18px
            .cliente-logout
                width 100%
                display flex
                align-items center
                margin-top 15px
                +mobile()
                    margin-top 10px
                .cliente
                    rubik(16)
                    color $texto
                    margin 0 15px 0 0
                    +below($tablet)
                        font-size 14px
                    +mobile()
                        font-size 12px
                        margin 0 10px 0 0
                    .nome
                        text-transform uppercase
                .btn-sair
                    width 80px
                    height 30px
                    border 1px solid #CCCCCC
                    display flex
                    align-items center
                    justify-content center
                    rubik(16)
                    font-weight 600
                    color $vinho
                    transition .3s ease
                    +below($tablet)
                        font-size 14px
                        width 75px
                        height 25px
                    +mobile()
                        font-size 12px
                        width 70px
                    .img-sair
                        width 15px
                        height 15px
                        border-radius 50%
                        background-color $vinho
                        display flex
                        align-items center
                        justify-content center
                        margin-left 5px
                        transition transform 0.3s
                        +below($tablet)
                            width 13px
                            height 13px
                        > img
                            width 7px
                            transition transform 0.3s
                    &:hover
                        border 1px solid $vinho
                        background-color #CCCCCC
                        .img-sair
                            transform scale(1.2)
                            > img
                                transform rotate(360deg) scale(1.2)
        .login
            width 100%
            height 220px
            background-color #F2F2F2
            padding 30px 20px
            +below($tablet)
                height 180px
                padding 20px
            +mobile()
                height 200px
                padding 15px
            .titulo
                rubik(24)
                color $vinho
                margin 0
                +below($tablet)
                    font-size 20px
                +mobile()
                    font-size 18px
            .frase
                rubik(12, thin)
                color $vinho
                margin 5px 0 15px 0
                +mobile()
                    margin 5px 0 10px 0
            .form-login
                width 100%
                display flex
                align-items center
                justify-content space-between	
                +mobile()
                    flex-direction column
                .dados
                    width 75%
                    display flex
                    flex-direction column
                    +below($tablet)
                        width 79%
                    +mobile()
                        width 100%
                    input[type=password]
                    input[type=email]
                        margin 2.5px 0
                        height 40px
                        padding 0 20px
                        border none
                        outline none
                        rubik(16, thin)
                        color $texto
                        background-color #FFF !important
                        +below($tablet)
                            margin 2px 0
                            height 35px
                            padding 0 15px
                            font-size 14px
                        +mobile()
                            height 30px
                        +placeholder()
                            color $texto
                            background-color #FFF !important
                        &:hover
                        &:focus
                            font-weight 500
                .btn-login
                    width 23.5%
                    height 85px
                    display flex
                    align-items center
                    justify-content center
                    background-color $vinho
                    border none
                    outline none
                    rubik(16)
                    font-weight 600
                    color #FFF
                    cursor pointer
                    transition .2s ease
                    +below($tablet)
                        width 20%
                        height 74px
                        font-size 14px
                    +mobile()
                        width 100%
                        height 30px
                        font-weight 500
                        margin 2px 0
                    &:hover
                    &:focus
                        background-color $texto
        .cadastro
            width 100%
            background-color #F2F2F2
            padding 30px 20px
            margin-top 30px
            +below($tablet)
                padding 20px
                margin-top 20px
            +mobile()
                padding 15px
            .titulo
                rubik(18)
                color $vinho
                margin 0
                +below($tablet)
                    font-size 16px
            .frase
                rubik(12, thin)
                color $vinho
                margin 5px 0 15px 0
                +mobile()
                    margin 5px 0 10px 0
            .form-cadastro
                width 100%
                display flex
                align-items flex-end
                justify-content space-between	
                +mobile()
                    flex-direction column
                    align-items flex-start
                .dados
                    width 75%
                    display flex
                    flex-direction column
                    +below($tablet)
                        width 79%
                    +mobile()
                        width 100%
                    input[type=password]
                    input[type=email]
                    input[type=text]
                        margin 2.5px 0
                        height 40px
                        padding 0 20px
                        border none
                        outline none
                        rubik(16, thin)
                        color $texto
                        background-color #FFF !important
                        +below($tablet)
                            margin 2px 0
                            height 35px
                            padding 0 15px
                            font-size 14px
                        +mobile()
                            height 30px
                        +placeholder()
                            color $texto
                            background-color #FFF !important
                        &:hover
                        &:focus
                            font-weight 500
                .btn-cadastrar
                    width 23.5%
                    height 85px
                    display flex
                    align-items center
                    justify-content center
                    background-color $vinho
                    border none
                    outline none
                    rubik(16)
                    font-weight 600
                    color #FFF
                    cursor pointer
                    transition .2s ease
                    +below($tablet)
                        width 20%
                        height 74px
                        font-size 12px
                        font-weight 500
                    +mobile()
                        width 100%
                        height 30px
                        font-size 14px
                        margin 2px 0
                    &:hover
                    &:focus
                        background-color $texto
            clearfix()
            .flash
                position relative
                display flex
                align-items center
                justify-content center
                margin 15px 0 0 0
                width 100%
                rubik(14, thin)
                padding 5px 10px
                border-radius 0
                > p
                    margin 0
                &.flash-erro
                    border 2px solid $vermelho
                    background $vermelho
                    color #fff
                &.flash-sucesso
                    border 2px solid $verde
                    background $verde
                    color #fff
    .right
        width calc("(1300px - 30px) / 2")
        +below($tablet)
            width 49%
        +mobile()
            width 100%
        .texto-adicionar
            width 100%
            height 220px
            background-color #F2F2F2
            padding 30px 70px 20px 40px
            +below($tablet)
                height auto
                padding 20px 20px 10px 20px
            +mobile()
                padding 15px
            > p
                rubik(16, thin)
                color $texto
                margin 0 0 20px 0
                +below($tablet)
                    font-size 14px
                +mobile()
                    font-size 12px
        clearfix()
        .flash, .flash-sucesso
            position relative
            display flex
            align-items center
            justify-content center
            margin 0
            width 100%
            height 40px
            rubik(12, thin)
            padding 5px 10px
            border-radius 0
            border 2px solid $verde
            background $verde
            color #fff
            margin-top 30px
            > p
                margin 0
        .produtos-orcamento
            width 100%
            height auto
            background-color #F2F2F2
            padding 30px 20px 60px 20px
            +below($tablet)
                padding 20px 20px 60px 20px
            +mobile()
                padding 15px 15px 50px 15px
            .produto
                width 100%
                height 70px
                background-color #FFF
                display flex
                flex-direction row
                align-items center
                margin-bottom 5px
                border 2px solid #C2C2C2
                +below($tablet)
                    height 60px
                    border 1px solid #C2C2C2
                +mobile()
                    height 110px
                    flex-wrap wrap
                .img-produto
                    width 12%
                    height 100%
                    border-right 2px solid #C2C2C2
                    padding 5px
                    +below($tablet)
                        border-right 1px solid #C2C2C2
                        padding 2px
                    +mobile()
                        width 20%
                        height 80px
                    > img
                        width 100%
                        height 100%
                        object-fit contain
                .dados-produto
                    width 76%
                    height 100%
                    display flex
                    flex-direction column
                    align-items flex-start
                    justify-content center
                    padding 15px
                    +below($tablet)
                        width 73%
                        padding 5px
                    +mobile()
                        width 80%
                        height 80px
                    .codigo
                        rubik(14)
                        color $texto
                        margin 0
                        +below($tablet)
                            font-size 12px
                    .titulo
                        rubik(14)
                        color $vinho
                        text-transform uppercase
                        margin 0
                        +below($tablet)
                            font-size 12px
                        &:hover
                            font-weight 600
                .quantidade
                    width 12%
                    height 100%
                    border-left 2px solid #C2C2C2
                    padding 5px
                    display flex
                    flex-direction column
                    align-items center
                    justify-content space-around
                    +below($tablet)
                        width 15%
                        padding 5px 2px
                        border-left 1px solid #C2C2C2
                    +mobile()
                        width 100%
                        height 30px
                        flex-direction row
                        padding 0
                        border-left none
                        border-top 1px solid #C2C2C2
                    > span
                        rubik(9)
                        color $texto
                        margin 0
                        +below($tablet)
                            font-size 8px
                    .numero
                        rubik(16)
                        color $texto
                        margin 0
                        +below($tablet)
                            font-size 14px
                    .btns
                        display flex
                        align-items center
                        justify-content center
                        .aumentar, .diminuir, .excluir
                            width 16px
                            height 16px
                            display flex
                            align-items center
                            justify-content center
                            +below($tablet)
                                width 14px
                                height 14px
                        .aumentar, .diminuir
                            border 1px solid #C2C2C2
                            transition .2s ease
                            > img
                                +below($tablet)
                                    width 7px
                            &:hover
                                background-color $vinho
                        .excluir
                            border-radius 50%
                            background-color #E6E6E6
                            margin-left 5px
                            transition .2s ease
                            > img
                                width 8px
                            &:hover
                                border 1px solid $vinho
            .enviar
                width 100%
                margin 80px 0 0 0 
                position relative
                +below($tablet)
                    margin 50px 0 0 0
                .linha-enviar-orcamento      
                    width calc("100% + 38px")
                    left -20px
                    border 1.5px solid $vinho
                    background-color $vinho
                    z-index 0
                    +below($tablet)
                        width 100%
                .link-enviar-orcamento
                    width 350px
                    height 70px
                    padding 0 15px
                    margin-left calc("(100% - 350px) / 2")
                    background-color $vinho
                    position absolute
                    z-index 1
                    top -25px
                    rubik(16, bold)
                    color #FFF
                    display flex
                    flex-direction row
                    align-items center
                    justify-content center
                    transition .2s ease
                    +below($tablet)
                        width 80%
                        height 60px
                        margin-left 10%
                        font-size 14px
                    +mobile()
                        height 50px
                        font-size 12px
                        font-weight 500
                    .img-enviar
                        margin-right 20px
                        transition transform 0.3s
                        +mobile()
                            width 40px
                    &:hover
                        background-color $texto
                        .img-enviar
                            transform rotate(360deg) scale(1.2)