section.politica-de-privacidade
    width 100%
    height auto
    padding 50px 0 70px 0
    position relative
    +mobile()
        padding 40px 0
    .centralizado
        width 1300px
        margin 0 auto
        position relative
        +below($tablet)
            width 90%
        .titulo
            width 100%
            margin 0 0 30px 0
            montserrat(28)
            color $vinho
            position relative
            +below($tablet)
                font-size 20px
            +mobile()
                font-size 18px
        .texto
            width 100%
            rubik(16, thin)
            color $texto
            padding-right 70px
            +below($tablet)
                font-size 14px
                padding-right 0
            +mobile()
                font-size 12px
            > p
                line-height 1.8
            > ul 
                li
                    line-height 1.8
