section.produtos-categorias
    width 1300px
    height auto
    margin 0 auto
    position relative
    padding 100px 0 80px 0
    +below($tablet)
        width 90%
        padding 80px 0 60px 0
.grid-linhas
    max-height 2040px
    max-width 1300px
    display flex
    flex-direction column
    align-items flex-start
    justify-content space-between
    flex-wrap wrap
    +below($tablet)
        max-width 90%
        max-height 1650px
    +mobile()
        flex-wrap nowrap
        max-height initial
    .linha-botoeiras, .linha-cabines
        width 300px
        height 30px
        border 1px solid #D3D3D3
        margin 1px 0
        padding 0 15px 
        display flex
        align-items center
        rubik(18, thin)
        color $texto
        transition .2s ease
        +below($tablet)
            width 22%
            height 25px
            padding 0 10px
            font-size 16px
        +mobile()
            width 100%
        &:hover
            background-color $vinho
            color #FFF
    .linha-botoeiras
        margin 0 33px 15px 0
        text-transform uppercase
        +below($tablet)
            margin 0 15px 10px 0
        +mobile()
            margin 0 0 10px 0
    .linha-cabines
        margin 15px 33px 35px 0
        text-transform uppercase
        +below($tablet)
            margin 10px 15px 25px 0
        +mobile()
            margin 10px 0 25px 0
    .grupo-letra
        width 300px
        margin 0 33px 35px 0
        display flex
        flex-direction column
        align-items flex-start
        +below($tablet)
            width 22%
            margin 0 15px 20px 0
        +mobile()
            width 100%
            margin 0 0 20px 0
        .letra
            width 30px
            height 30px
            margin 0 0 1px 0
            background-color $vinho
            border 1px solid #D3D3D3
            rubik(18, medium)
            color #FFF
            text-transform uppercase
            display flex
            align-items center
            justify-content center
            +below($tablet)
                width 25px
                height 25px
                font-size 14px
        .categoria
            width 300px
            height 30px
            border 1px solid #D3D3D3
            margin 1px 0
            padding 0 15px 
            display flex
            align-items center
            rubik(18, thin)
            color $texto
            transition .2s ease
            +below($tablet)
                width 100%
                height 25px
                padding 0 10px
                font-size 12px
            &:hover
                background-color $vinho
                color #FFF
    
