section.produtos
    width 1300px
    height auto
    margin 0 auto
    position relative
    padding 100px 0 80px 0
    display flex
    flex-direction row
    align-items flex-start
    +below($tablet)
        width 90%
        padding 80px 0 60px 0
    +mobile()
        flex-direction column
    .submenu-produtos
        width 25.5%
        display flex
        flex-direction column
        align-items flex-start
        +below($tablet)
            width 30%
        +mobile()
            width 100%
        h2.titulo
            rubik(22, medium)
            color $vinho
            margin 0 0 35px 0
            +below($tablet)
                font-size 18px
                margin 0 0 30px 0
        .link-categoria
            rubik(16, thin)
            color $texto
            text-transform uppercase
            margin-bottom 20px
            transition .2s ease
            +below($tablet)
                font-size 14px
                margin-bottom 10px
            +mobile()
                display none
            > span
                font-size 14px
                +below($tablet)
                    font-size 12px
            &:hover
            &.active
                color $vinho
                font-weight 500
        .marca-filtrada, .categoria-filtrada, .palavra-filtrada, .filtro-lancamentos
            rubik(14, thin)
            color $texto
            text-transform uppercase
            margin 0 0 20px 0
            +below($tablet)
                font-size 12px
                margin 0 0 10px 0
            .link-marca, .link-categoria, .palavra, .link-lancamentos
                display inline
                rubik(16)
                color $vinho
                margin-left 5px
                transition .2s ease
                +below($tablet)
                    font-size 14px
                &:hover
                    font-weight 600
        .lista-marcas
            width 90%
            height 50px
            margin 0 0 10px 0
            +below($tablet)
                height 40px
            +mobile()
                width 100%
                height 35px
                margin 0 0 10px 0
            .select-marcas
                width 100%
                height 100%
                border 1px solid #B3B3B3
                rubik(12)
                color $texto
                padding 0 10px
                outline none
                appearance none
                background $img("seta-quantidade-descer.svg") no-repeat 95% #FFF
                background-size 12px
                transition .2s ease
                +below($tablet)
                    font-size 12px
                    background $img("seta-quantidade-descer.svg") no-repeat 97% #FFF
                    background-size 10px
                &:hover
                    border 1px solid $vinho
        .busca-rapida
            width 90%
            height 50px
            border 1px solid #B3B3B3
            display flex
            flex-direction row
            align-items center
            justify-content space-between
            padding 0 10px
            margin 0 0 20px 0
            +below($tablet)
                height 40px
            +mobile()
                width 100%
                height 35px
                margin 0 0 10px 0
                padding 0 0 0 10px
            .input-submenu
                width 90%
                height 100%
                border none
                outline none
                rubik(12)
                color $texto
                background-color #FFF
                +placeholder()
                    color $texto
                    background-color #FFF
            .btn-busca
                width 10%
                height 100%
                border none
                outline none
                background-color #FFF
                cursor pointer
                .img-lupa
                    transition transform 0.3s
            &:hover
            &:focus
                border 1px solid $vinho
                .btn-busca
                    .img-lupa
                        transform rotate(360deg)
        .titulo-categorias
            rubik(12)
            color $vinho
            margin 0
            +mobile()
                display none
        .lista-categorias
            width 90%
            height 360px
            padding 15px 0
            display flex
            flex-direction column
            align-items flex-start
            border 1px solid #B3B3B3
            position relative
            overflow-y scroll
            +below($tablet)
                height 250px
                padding 10px 0
            +mobile()
                display none
            .categoria
                width 100%
                rubik(12, thin)
                color $texto
                padding 3px 15px
                transition .2s ease
                +below($tablet)
                    padding 2px 10px
                &:hover
                &.active
                    color #FFF
                    background-color $vinho
        .lancamentos
            width 90%
            height 50px
            border 1px solid $vinho
            margin 20px 0 0 0
            display flex
            align-items center
            justify-content center
            rubik(12)
            color $vinho
            transition .2s ease
            +below($tablet)
                height 40px
            +mobile()
                width 100%
                height 35px
                margin 0 0 10px 0
            .img-setinha
                margin-left 5px
                transition transform 0.3s
            &:hover
                font-weight 600
                .img-setinha
                    transform rotate(360deg) scale(1.2)
        .todas-categorias
            width 90%
            height 50px
            border 1px solid $vinho
            margin 10px 0 0 0
            display flex
            align-items center
            justify-content center
            rubik(12)
            color $vinho
            transition .2s ease
            +below($tablet)
                height 40px
            +mobile()
                width 100%
                height 35px
                margin 0 0 10px 0
            .img-setinha
                margin-left 5px
                transition transform 0.3s
            &:hover
                font-weight 600
                .img-setinha
                    transform rotate(360deg) scale(1.2)
    .resultados-produtos,
    .resultados-produtos-ajax
        width 74.5%
        display flex
        flex-direction row
        flex-wrap wrap
        justify-content flex-start
        +below($tablet)
            width 70%
        +mobile()
            width 100%
        .link-produto
            width 30.9%
            height auto
            border 1px solid #D3D3D3
            display flex
            flex-direction column
            align-items center
            margin 0 35px 35px 0
            transition .1s ease
            +below($tablet)
                width 31%
                margin 0 20px 20px 0
            +mobile()
                width 100%
                margin 0 0 15px 0
            div.imagens
                width 100%
                height 300px
                padding 20px
                position relative
                +below($tablet)
                    height 200px
                    padding 15px
                .img-produto
                    width 100%
                    height 100%
                    object-fit contain
                    transition transform 0.2s
                .img-logo
                    width 100%
                    height 100%
                    padding 0 50px
                    opacity 0.5
                    position absolute
                    top 0
                    left 0
                    object-fit contain
                    +below($tablet)
                        padding 0 25px
                    +mobile()
                        padding 0 20%
            .marca
                width 100%
                height 60px
                background-color #F2F2F2
                padding 15px 10px
                +below($tablet)
                    padding 10px
                .img-marca
                    width 100%
                    height 100%
                    object-fit contain
                    transition transform 0.2s
            .codigo
                rubik(14)
                font-weight 600
                color $texto
                text-align center
                padding 15px 0 5px 0
                margin 0
                transition .2s ease
                +below($tablet)
                    font-size 12px
                    padding 10px 0 5px 0
            .titulo
                rubik(18)
                color $texto
                text-align center
                padding 0 5px 15px 5px
                margin 0
                transition .2s ease
                +below($tablet)
                    font-size 14px
                    padding 0 5px 10px 5px
            &:hover
                border 1px solid $vinho
                .img-produto
                    transform scale(1.1)
                .marca
                    .img-marca
                        transform scale(1.1)
                .titulo
                    color $vinho
        .nenhum-resultado
            rubik(18)
            color $texto
            margin 0 0 30px 0
        ul.pagination
            max-width 100%
            display flex
            flex-wrap wrap
            align-items center
            justify-content space-between
            list-style none
            padding 0
            margin 0 auto
            > li
                width 25px
                height 25px
                border 1px solid $vinho
                background-color #FFF
                display flex
                align-items center
                justify-content center
                rubik(12)
                color $vinho
                transition background .3s linear
                &:hover
                &.active
                    background-color $vinho
                    color #FFF
                    font-weight 600
        .btns-filtro-linhas
            width 100%
            display flex
            +mobile()
                flex-direction column
            .btn-anterior
                width 30.9%
                height 50px
                margin 0 35px 0 0
                border 1px solid $vinho
                display flex
                align-items center
                justify-content center
                +below($tablet)
                    width 31%
                    height 45px
                    margin 0 20px 0 0
                +mobile()
                    width 100%
                    margin 0 0 10px 0
                .descricao
                    rubik(10)
                    color $vinho
                    margin 0 0 0 15px
                    display flex
                    flex-direction column
                    align-items center
                    span.nome-linha
                        rubik(12)
                        color $vinho
                        text-transform uppercase
                        transition .2s ease
                        +below($tablet)
                            font-size 10px
                .img-setinha-anterior
                    transform rotate(180deg)
                    transition transform 0.3s
                &:hover
                    .descricao
                        span.nome-linha
                            font-weight 600
                    .img-setinha-anterior
                        transform rotate(540deg) scale(1.2)
            .btn-topo
                width 30.9%
                height 50px
                margin 0 35px 0 0
                border 1px solid $vinho
                rubik(12)
                color $vinho
                display flex
                align-items center
                justify-content center
                +below($tablet)
                    width 31%
                    height 45px
                    margin 0 20px 0 0
                +mobile()
                    width 100%
                    margin 0 0 10px 0
                .img-setinha-topo
                    margin-right 5px
                    transform rotate(270deg)
                    transition transform 0.3s
                &:hover
                    font-weight 600
                    .img-setinha-topo
                        transform rotate(630deg) scale(1.2)
            .btn-proximo
                width 30.9%
                height 50px
                margin 0
                border 1px solid $vinho
                display flex
                align-items center
                justify-content center
                +below($tablet)
                    width 31%
                    height 45px
                +mobile()
                    width 100%
                    margin 0 0 10px 0
                .descricao
                    rubik(10)
                    color $vinho
                    margin 0 15px 0 0
                    display flex
                    flex-direction column
                    align-items center
                    span.nome-linha
                        rubik(12)
                        color $vinho
                        text-transform uppercase
                        transition .2s ease
                        +below($tablet)
                            font-size 10px
                .img-setinha-proximo
                    margin-left 5px
                    transition transform 0.3s
                &:hover
                    .descricao
                        span.nome-linha
                            font-weight 600
                    .img-setinha-proximo
                        transform rotate(360deg) scale(1.2)
    .resultados-produtos-ajax
        justify-content space-between
        .link-produto
            margin 0 0 35px 0