section.produtos-show
    width 1300px
    height auto
    margin 0 auto
    position relative
    padding 100px 0 80px 0
    display flex
    flex-direction row
    align-items flex-start
    +below($tablet)
        width 90%
        padding 80px 0 60px 0
    +mobile()
        flex-direction column
    .submenu-produtos
        width 25.5%
        display flex
        flex-direction column
        align-items flex-start
        +below($tablet)
            width 30%
        +mobile()
            width 100%
        .link-categoria, .link-marca
            rubik(16)
            color $vinho
            text-transform uppercase
            margin-bottom 20px
            transition .2s ease
            +below($tablet)
                font-size 14px
                margin-bottom 10px
            > span
                rubik(14, thin)
                color $texto
                +below($tablet)
                    font-size 12px
            &:hover
            &.active
                color $vinho
                font-weight 600
        .marca-filtrada, .categoria-filtrada, .palavra-filtrada, .filtro-lancamentos
            rubik(14, thin)
            color $texto
            text-transform uppercase
            margin 0 0 20px 0
            +below($tablet)
                font-size 12px
                margin 0 0 10px 0
            .link-marca, .link-categoria, .palavra, .link-lancamentos
                display inline
                rubik(16)
                color $vinho
                margin-left 5px
                transition .2s ease
                +below($tablet)
                    font-size 14px
                &:hover
                    font-weight 600
        .busca-rapida
            width 90%
            height 50px
            border 1px solid #B3B3B3
            display flex
            flex-direction row
            align-items center
            justify-content space-between
            padding 0 10px
            margin 0 0 20px 0
            +below($tablet)
                height 40px
            +mobile()
                width 100%
                height 35px
                margin 0 0 10px 0
                padding 0 0 0 10px
            .input-submenu
                width 90%
                height 100%
                border none
                outline none
                rubik(12)
                color $texto
                background-color #FFF
                +placeholder()
                    color $texto
                    background-color #FFF
            .btn-busca
                width 10%
                height 100%
                border none
                outline none
                background-color #FFF
                cursor pointer
                .img-lupa
                    transition transform 0.3s
            &:hover
            &:focus
                border 1px solid $vinho
                .btn-busca
                    .img-lupa
                        transform rotate(360deg)
        .lista-marcas
            width 90%
            height 50px
            margin 0 0 20px 0
            +below($tablet)
                height 40px
            +mobile()
                width 100%
                height 35px
                margin 0 0 10px 0
            .select-marcas
                width 100%
                height 100%
                border 1px solid #B3B3B3
                rubik(12)
                color $texto
                padding 0 10px
                outline none
                appearance none
                background $img("seta-quantidade-descer.svg") no-repeat 95% #FFF
                background-size 12px
                transition .2s ease
                +below($tablet)
                    font-size 12px
                    background $img("seta-quantidade-descer.svg") no-repeat 97% #FFF
                    background-size 10px
                &:hover
                    border 1px solid $vinho
        .lancamentos
            width 90%
            height 50px
            border 1px solid $vinho
            margin 20px 0 0 0
            display flex
            align-items center
            justify-content center
            rubik(12)
            color $vinho
            transition .2s ease
            +below($tablet)
                height 40px
            +mobile()
                width 100%
                height 35px
                margin 0 0 10px 0
            .img-setinha
                margin-left 5px
                transition transform 0.3s
            &:hover
                font-weight 600
                .img-setinha
                    transform rotate(360deg) scale(1.2)
        .titulo-categorias
            rubik(12)
            color $vinho
            margin 0
            +mobile()
                display none
        .lista-categorias
            width 90%
            height 360px
            padding 15px 0
            display flex
            flex-direction column
            align-items flex-start
            border 1px solid #B3B3B3
            position relative
            overflow-y scroll
            +below($tablet)
                height 250px
                padding 10px 0
            +mobile()
                display none
            .categoria
                width 100%
                rubik(12, thin)
                color $texto
                padding 3px 15px
                transition .2s ease
                +below($tablet)
                    padding 2px 10px
                &:hover
                    color #FFF
                    background-color $vinho
        .todas-categorias
            width 90%
            height 50px
            border 1px solid $vinho
            margin 10px 0
            display flex
            align-items center
            justify-content center
            rubik(12)
            color $vinho
            transition .2s ease
            +below($tablet)
                height 40px
            +mobile()
                width 100%
                height 35px
                margin 0 0 10px 0
            .img-setinha
                margin-left 5px
                transition transform 0.3s
            &:hover
                font-weight 600
                .img-setinha
                    transform rotate(360deg) scale(1.2)
    #detalhesProduto
        width 74.5%
        display flex
        flex-direction column
        position relative
        +below($tablet)
            width 70%
        +mobile()
            width 100%
        #dadosProduto
            width 100%
            display flex
            flex-direction row
            position relative
            +mobile()
                flex-direction column
            div.imagens
                width 400px
                height auto
                margin-right 40px
                position relative
                +below($tablet)
                    width 40%
                    margin-right 30px
                +mobile()
                    width 100%
                    margin 0 0 15px 0
                .capa-produto
                    width 100%
                    height 400px
                    padding 30px
                    margin-bottom 10px
                    border 1px solid #D3D3D3 
                    display flex
                    align-items center
                    justify-content center
                    position relative
                    +below($tablet)
                        width 100%
                        height 250px
                        padding 20px
                    .img-produto
                        width 100%
                        height 100%
                        object-fit contain
                .marca-dagua
                    width 100%
                    height 400px
                    position absolute
                    top 0
                    left 0
                    display flex
                    align-items center
                    justify-content center
                    +below($tablet)
                        width 100%
                        height 250px
                    .img-marca
                        opacity 0.5
                        max-width 100%
                .variacoes-produtos
                    width 100%
                    display flex
                    flex-wrap wrap
                    a.variacao
                        width 92.5px
                        height 92.5px
                        padding 5px
                        margin 0 10px 10px 0
                        border 1px solid #D3D3D3 
                        display flex
                        align-items center
                        justify-content center
                        transition .2s ease
                        +below($tablet)
                            width 22.1%
                            height 60px
                        .img-variacao
                            width 100%
                            height 100%
                            object-fit contain
                        &:hover
                            border 1px solid $vinho 
            .sobre-produto
                width calc("100% - 400px - 40px")
                +below($tablet)
                    width calc("60% - 30px")
                +mobile()
                    width 100%
                p.codigo
                    rubik(18)
                    font-weight 600
                    color $texto
                    margin 15px 0 0 0
                    +below($tablet)
                        font-size 16px
                        margin 0
                h2.titulo
                    rubik(22)
                    color $vinho
                    text-transform uppercase
                    margin 10px 0 30px 0
                    +below($tablet)
                        font-size 18px
                        margin 10px 0 20px 0
                .descricao
                    rubik(16, thin)
                    color $texto
                    margin 0 0 30px 0
                    +below($tablet)
                        font-size 14px
                        margin 0 0 20px 0
                    > p
                        margin 0 0 15px 0
                .marca
                    width 200px
                    height 100px
                    padding 10px
                    background-color #F2F2F2
                    margin 0 0 30px 0
                    +below($tablet)
                        width 47%
                        height 80px
                        margin 0 0 20px 0
                    .img-marca
                        width 100%
                        height 100%
                        object-fit contain
                .desenho-tecnico
                    width 100%
                    border-top 1px solid #D3D3D3
                    margin 0 0 30px 0
                    +below($tablet)
                        margin 0 0 20px 0
                    .img-desenho
                        width 100%
                        object-fit contain
                iframe.video
                    width 100%
                    height 300px
                    margin 0 0 30px 0
                    +below($tablet)
                        height 200px
                        margin 0 0 20px 0
                    +mobile()
                        height 190px
                .link-download
                    width 400px
                    height 60px
                    background-color #F2F2F2
                    rubik(16, thin)
                    color $texto
                    display flex
                    align-items center
                    justify-content center
                    margin 0 0 30px 0
                    transition .2s ease
                    +below($tablet)
                        width 100%
                        height 50px
                        font-size 12px
                        margin 0 0 20px 0
                    .img-pdf
                        width 40px
                        height 40px
                        background-color #B3B3B3
                        border-radius 50%
                        margin-right 15px
                        display flex
                        align-items center
                        justify-content center
                        transition transform 0.3s
                        +below($tablet)
                            width 30px
                            height 30px
                        > img
                            transition transform 0.3s
                            +below($tablet)
                                width 50%
                    &:hover
                        font-weight 500
                        .img-pdf
                            transform scale(1.2)
                            > img
                                transform rotate(360deg) scale(1.2)
        .add-orcamento
            width 100%
            margin 30px 0
            position relative
            .linha-add-orcamento
                width 100%
                border 1.5px solid $vinho
                background-color $vinho
                z-index 0
            .link-add-orcamento
                width 400px
                height 70px
                padding 0 80px 0 20px
                margin-left calc("400px + 40px")
                background-color $vinho
                position absolute
                z-index 1
                top -25px
                rubik(16, bold)
                color #FFF
                display flex
                flex-direction row
                align-items center
                justify-content center
                transition .2s ease
                +below($tablet)
                    width 45%
                    height 60px
                    padding 0 30px 0 20px
                    margin-left 44.5%
                    font-size 14px
                +mobile()
                    width 90%
                    padding 0 35px 0 20px
                    margin-left 5%
                    font-size 12px
                .img-add
                    margin-right 20px
                    transition transform 0.3s
                &:hover
                    background-color $texto
                    .img-add
                        transform rotate(360deg) scale(1.2)